<p id="notice"><%= notice %></p>

  <h1>Listing Links&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to 'New Link', new_link_path, class: "btn btn-info" %></h1>
    <% @links.each do |link| %>

        <div class="well">

         <div id="float-left">
          <p>
            <%= link_to upvote_path(id: link.id) do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          </p>
          <p>
            <%= link.score %>
          </p>
          <p>
            <%= link_to downvote_path(id: link.id) do %> 
              <span class="glyphicon glyphicon-minus"></span>
            <% end %>
          </p>
        </div>


          <div><H1><%= link_to link.name.downcase.capitalize, link.link %></h1>&nbsp&nbsp&nbsp<%= link_to 'Edit', edit_link_path(link) %>&nbsp&nbsp&nbsp<%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td></div>

      </div>

  <% end %>
  



