<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<div class="row">
    <% @links.each do |link| %>
      <div class="col-md-6">
        <div class="well">
        <td><%= link_to link.name.downcase.capitalize, link.link %></td>
        <td><%= link.score %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Link', new_link_path %>
