<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<div class="row">
    <% @links.each do |link| %>
      <div class="col-md-12">
        <div class="well">

         <div id="float-left">
          <p>
          <%= link_to upvote_path(id: link.id) do %>
          <span class="glyphicon glyphicon-plus"></span>
          <% end %>
          </p>
          <p>
          <%= link.score %>
          </p>
          <p>
          <%= link_to downvote_path(id: link.id) do %> 
          <span class="glyphicon glyphicon-minus"></span>
          <% end %>
          </p>
        </div>

        <div if="float-right">
        <H1><%= link_to link.name.downcase.capitalize, link.link %></H1>
        
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
        </div>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Link', new_link_path %>
